*{
    margin: 0px;
    padding: 0px;
}
.ferm{
    background-color: rgba(211, 208, 208, 0.616);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 100rem;
    
}
.first{
    border-radius: 8px;
    width: 80%;
    float: right;
    font-size: 100%;
    background-color: #fff;
    margin-top: 60%;
    margin-right: -90%;
    padding: 10px 10px;
    text-align: center;
    
}
.as{
    width: 90%;
    text-align: left;
    margin: 0% 0% 5% 0%;
    padding: 5% 4% 5% 4%;
    border-radius: 6px;
    border: 1px solid #dddfe2; 
}
.ac{
    color: #fff;
    background-color: #1877f2;
    text-decoration: none;
    padding: 5% 38% 5% 38%;
    margin-bottom: 10%;
    line-height: 48px;
    border-radius: 6px;
}
.az{
    color: #1877f2;
    
}

.av{
    border: none;
    text-decoration: none;
    color: #fff;
    background-color: #42b72a;
    border-radius: 6px;;
    line-height: 48px;
    padding: 15px 40px;
    margin: 0px 0px 40px;
}
img{
    width: 40%;
    margin: -30% 0% 17% -61%;
    padding: 0px 0px 5px;
}
p{
    text-align: justify;
    width: 50%;
    margin: -19% 0% 0% 4%;
    font-size: 174%;
    font-weight: 500;
}